<header style="{{ partial "sidebar/style" . | safeCSS }}">

  <div class="intro">
    <div class="logo-container">
      <a href="/">
        <img src='{{ .Site.Params.sidebar.logo | default "images/edna-west.jpg" | absURL }}' alt="Profile {{ .Title }}" class="rounded-logo">
      </a>
    </div>
    <h2>{{ .Site.Params.intro.main | default "Welcome, I'm John Doe" | emojify }}</h2>
    <h5 id="about-me-description">{{ .Site.Params.intro.sub | default "This is my personal website" | emojify }}</h5>
    <h3> 
      📃<a href="/docs/2020_Erin_Orstrom_Resume.pdf" target="_blank"> View My Resume</a>
    </h3>
  </div>

  <div class="socials">
      {{ partial "sidebar/social" .}}
  </div>

</header>